.search-bar{
  margin: 20px;
  text-align: center;
  font-size: 30px;
}

.search-bar input{
  width: 75%;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

